@charset "UTF-8";



.menu {
  float: left;
  width: 22%;
  text-align: center;
   color: red;
}

.menu a {
  
  margin-left:100px;
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  text-decoration: none;
 
}

.main {
  float: left;
  width: 50%;
  padding: 0 20px;
}

.head{
background-color:#80bfff;
color :black;
padding:15px;
text-align:center;}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  text-decoration:none;
}